body {
    background-color: #00D28E;
}

h1 {
    font-family: 'Exo', sans-serif;  
}

p {
    font-family: 'Quicksand', sans-serif ;
}

.about-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-info p {
    font-size: 18px;
}

.card {
    background-color: white;
}

.main-heading {
    color: white;
    margin-left: 10px;
}

.header {
    background-color: #808684;
    font-family: 'Exo', sans-serif;
    border-bottom-style: ridge;
}

.footer {
    background-color: #808684;
    border-top-style: ridge;
}

.carousel-wrap {
    margin-bottom: 50px
}

.carousel-item {
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contact-card {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    font-family: 'Exo', sans-serif;
    margin-top: 40px;
    padding: 10px;
}

.img-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-container{
    margin-bottom: 30px;
}

.form-card {
    font-family: 'Exo', sans-serif;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.form-component {
    margin: 8px;
}

.nav-btn-main {
    background-color: #00D28E;
    color: white;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
}

.hero-card{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-nav {
    font-family: 'Exo', sans-serif;
    color: white;
}

.nav-btn {
    color: white;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
}

.social-container {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Exo', sans-serif;
    margin-bottom: 50px;
}

.social-picture {
    width: 70%;
    height: auto;
    margin-bottom: 50px;
    
}

.social-img {
    height: 50px;
    width: 50px;
    padding: 10px;
}


/* font-family: 'Antic', sans-serif; 27px
font-family: 'Exo', sans-serif; 18px
font-family: 'Quicksand', sans-serif; 12px */

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

@media (max-width: 768px){

    .row {
        display: block;
      }
      
    .column {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 5px;
      }
    

    
    .contact-card {
        margin-top: 15px;
    }

  }  